@model MVCSchoolApp.ViewModels.TeacherImageVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Profile picture:
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/@Model.teacher.ProfilePicture"
                class="rounded-circle"
                height="40" width="40"
                asp-append-version="true" />
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher.Degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.AcademicRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher.AcademicRank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.OfficeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher.OfficeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.HireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.CoursesAsFirstTeacher)
        </dt>
        <dd class="col-sm-10">
            @foreach (var course in Model.teacher.CoursesAsFirstTeacher)
            {
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.CourseId">
                    @course.Title
                </a> <br />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.CoursesAsSecondTeacher)
        </dt>
        <dd class="col-sm-10">
            @foreach (var course in Model.teacher.CoursesAsSecondTeacher)
            {
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.CourseId">
                    @course.Title
                </a> <br />
            }
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-action="EditPicture" asp-route-id="@Model?.teacher.TeacherId">Edit picture</a>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    { <a asp-action="Edit" asp-route-id="@Model.teacher.TeacherId">Edit</a> } |
    <a asp-action="Index">Back to List</a>
</div>
