@model MVCSchoolApp.ViewModels.TeacherFilter

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
<p>
<a asp-action="Create">Create New</a>
</p>
}


<form asp-controller="Teachers" asp-action="Index" method="get">
    <p>
        <select asp-for="TeacherAcRank" asp-items="Model.filteredT">
            <option value="">Choose Rank</option>
        </select>
        First Name: <input type="text" asp-for="TeacherFName" />
        First Name: <input type="text" asp-for="TeacherLName" />
        Degree <input type="text" asp-for="TeacherEdLevel" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].FullName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].AcademicRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].OfficeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].HireDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teachers) {
        <tr>
            <td>
                    <img src="~/images/@item.ProfilePicture"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                    @item.FullName
                </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    { <a asp-action="Edit" asp-route-id="@item.TeacherId">Edit</a> } |
                <a asp-action="Details" asp-route-id="@item.TeacherId">Details</a> |
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                { <a asp-action="Delete" asp-route-id="@item.TeacherId">Delete</a> }
            </td>
        </tr>
}
    </tbody>
</table>
