@model IEnumerable<MVCSchoolApp.Models.Enrollment>

@{
    ViewData["Title"] = "StudentVM";
}

<h1>@ViewBag.student courses</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeminalUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeminalPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @if (@item.SeminalUrl != null)
                    {
                        <a href="~/urls/@item.SeminalUrl">Open file</a>
                    }
                    else
                    {
                        <span>Empty</span>
                    }
                </td>
                <td>
                    @if (@item.ProjectUrl != null)
                    {
                        <a href="@item.ProjectUrl">Open link</a>
                    }
                    else
                    {
                        <span>Empty</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeminalPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
                <td>
                    <a asp-action="StudentEdit" asp-route-id="@item.EnrollmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EnrollmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EnrollmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
