@model MVCSchoolApp.ViewModels.TeacherStudent

@{
    ViewData["Title"] = "Professor See Students";
}

<h1>"@ViewBag.course" Active Students </h1>

<form asp-controller="Enrollments" asp-action="Professor" asp-route-teacher="@ViewBag.teacher">
    <p>
        Year: <select asp-for="Year" asp-items="Model.YearList">
            <option>Select year</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enrolls[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrolls[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrolls[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrolls[0].SeminalUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrolls[0].ProjectUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrolls[0].ExamPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrolls[0].SeminalPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrolls[0].ProjectPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrolls[0].AdditionalPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrolls[0].FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrolls[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrolls[0].Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enrolls) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeminalUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeminalPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => (item.Student.FirstName))
            </td>
            <td>
                <a asp-action="ProfessorEdit" asp-route-id="@item.EnrollmentId" asp-route-teacher="@ViewBag.teacher">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnrollmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnrollmentId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
