@model MVCSchoolApp.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Teaching";
}

<h1>Courses for Teacher: @ViewBag.Message </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].FirstTeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].SecondTeacherId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstTeacherId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondTeacherId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a> |
                    <a asp-controller="Enrollments" asp-action="Professor" asp-route-teacher="@ViewBag.Message" asp-route-id="@item.CourseId"> See Students</a>
                </td>
            </tr>
        }
    </tbody>
</table>
